.container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.753);
    z-index: 2200;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: auto;
    padding: 2rem;
}

.card {
    background-color: var(--color-bg);
    padding: 2rem;
    border-radius: 0.5rem;
    width: 400px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}

.input {
    padding: 0.5rem;
    outline-color: var(--color-primary);
    border: 1px solid;
}

.inputBio {
    resize: vertical;
}

.skills {
    margin-top: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    flex-wrap: wrap;

}

.skill {
    background: rgb(233, 233, 233);
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

}

.deleteIconContainer {
    position: absolute;
    background-color: var(--color-primary);
    inset: 0;
    color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(-100%);
    transition: 0.2s;
}

.skill:hover .deleteIconContainer {
    transform: translateY(0);
}

.deleteIcon {
    transition: 0.3s;
}

.deleteIcon:hover {
    font-size: 1.2rem;
    cursor: pointer;
}



.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn {
    margin-top: 2rem;
    flex-grow: 1;
    flex-basis: 100px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}



.cancel {
    background-color: transparent;

    color: var(--color-text);
}

.cancel:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.save:hover {
    background-color: var(--color-primary-light);
}